
#center {
  display: flex;
  justify-content: center;  
  align-items: center;      
  min-height: 100vh;        
  text-align: center;
}

.button{
  background-color: #243f4b;
  color: white;
  box-shadow: #243f4b;
  font-size: 40px;
  padding: 20px;
  border-radius: 15px;
  
}

.button:hover {
  background-color: #4e859d; /* Darker green on hover */
  transform: scale(1.05);    /* Slightly enlarge on hover */
}

.landingpagebox{
  display: flex;
  justify-content: center;  
  align-items: center;            
  text-align: center;
  max-height: 100px;
  gap: 20px;
  flex-direction: column;
  padding: 100px;
}

.buttonGroup{
  gap: 5px;
}