:root {
  --text: #213d4a;
  --text-h: #213d4a;
  --bg: linear-gradient(360deg, #2f5464, #5290AA,  #f0e9f6 70%);
  --accent: #aa3bff;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 40px; 
  line-height: 50px;
  color: var(--text);
}


@media (max-width: 1024px) {
  :root {
    font-size: 40px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #16171d;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);
}


h1 {
  font-size: clamp(40px, 8vw, 100px); /* scales with viewport width */
  margin: 20px 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 100px;
    align-items: center;
  }
}
