:root {
  --text: #213d4a;
  --text-h: #213d4a;
  --bg: linear-gradient(360deg, #2f5464, #5290AA, #f0e9f6 70%);
  --accent: #aa3bff;

  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: var(--text);
}

* {
  box-sizing: border-box;
  
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html,
body,
#root {
  display: flex;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

body {
  background: var(--bg);
  font-size: 25px;
}

h1 {
  color: var(--text-h);
  font-size: clamp(3rem, 15vw, 8rem);
  margin: 20px 0;
  text-align: center;
  line-height: 0.0;
}
h2 {
  color: var(--text-h);
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin: 20px 0;
  text-align: center;
}

.body-text {
  font-size: 4rem;
  line-height: 1.5;
}


